@import url('http://weloveiconfonts.com/api/?family=entypo');  /*  social-link  */



/*....................................... Navigation Bar .......................................*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #FFFFFF;
    background-color: #000;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color:#FFFFFF;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #FFFFFF;
    background-color: #000;
}
.dropdown-menu>li>a {
    color: #000;
    font-weight: bold;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #000;
}
@media (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #000;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #FFFFFF;
    background-color: transparent;
}
}

/*....................................... Navigation Bar End ......................................*/



